<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Đăng ký</title>
    <link rel="stylesheet" th:href="${'/css/bootstrap.min.css'}">
    <script th:src="${'/js/jquery.min.js'}"></script>
</head>
<body>
<div class="container">
    <h3 style="text-align: center" class="container_title">Đăng ký</h3>
    <form th:action="${'/savedangky'}" method="post">
        <div class="form-group">
            <p>Name</p>
            <input type="text" name="name" class="form-control">
        </div>
        <div class="form-group">
            <p>Full Name</p>
            <input type="text" name="fullName" class="form-control">
        </div>
        <input type="hidden" name="type" value="EMPLOYEE" />
        <div class="form-group">
            <p>Email</p>
            <input type="text" name="email" class="form-control">
        </div>
        <div class="form-group">
            <p>Password</p>
            <input type="text" name="password" class="form-control">
        </div>
        <button style="float: right" type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
</body>
<script th:src="${'/js/bootstrap.min.js'}"></script>
</html>