.header {
    height: 120px;
    background-image:linear-gradient(0,#f4632a,#e93926)
}

.header__navbar {
    height: 34px    ;
    display: flex;
    justify-content: space-between;
}

.header__navbar-list {
    list-style: none;
    padding-left: 0;
}

.header__navbar-item {
    margin: 0 8px;
    position: relative;
}

.header__navbar-item:hover,
.header__navbar-item a:hover {
    cursor: pointer;
    color: rgba(255,255,255,0.5);
}

.header__navbar-item,
.header__navbar-item-link {
    display: inline-block;
    text-decoration: none;
    font-size: 1.3rem;
    color: var(--white-color);
    font-weight: 400;
}

.header__navbar-item--no-pointer {
    color: var(--white-color);
    cursor: text;
}

.header__navbar-item-icon--link {
    text-decoration: none;
    color: var(--white-color);
    font-size: 1.6rem;
    margin-right: 4px;
}

.header__navbar-item-icon--link span {
    font-size: 1.3rem;
}

/* thông báo */
.header__navbar-item-notification:hover .header__notification {
    display: block;
}

.header__notification{
    position: absolute;
    color: var(--black-color);
    width: 400px;
    background-color: var(--white-color);
    left: -320px;
    top: 30px;
    border: 1px solid rgba(153, 153, 153, 0.208);
    display: none;
}

.header__notification-header{
    width: 100%;
    height: 40px;
    background-color: var(--white-color);
    border-bottom: 1px solid rgba(153, 153, 153, 0.208);
}

.header__notification-header h3 {
    font-size: 1.5rem;
    font-weight: 400;
    color:#999;
    margin: 0 0 0 12px;
    line-height: 40px;
}

.header__notification-list {
    list-style: none;
    padding: 0;
}

.header__notification-item {
    width: 100%;
}

.header__notification-item:hover {
    background-color:#e8e8e86f;
}

.header__notification-item-info {
    text-decoration: none;
    padding: 12px;
    display: flex;
}

.header__notification-item-info img{
    width: 48px;
    object-fit: contain;
}

.header__notification-item-title {
    width: 100%;
    font-size: 1.4rem;
    color: var(--text-color);
    margin-left: 12px;
}

.header__notification-item-title--name {
    display: block;
    font-weight: 400;
    line-height: 1.8rem;
}

.header__notification-item-title--description {
    font-size: 1.2rem;
    color: #756f6e;
    line-height: 1.6rem;
    margin-top: 4px;

}

.header__notification-footer-btn{
    display: block;
    font-size: 1.6rem;
    text-align: center;
    line-height: 1.6rem;
    height: 25px;
    color: var(--text-color);
    text-decoration: none;
}

/* end thông báo */

.header__navbar-item--avata{
    width: 20px;
    height: 20px;
    background-image: url(../img/default_ava.png);
    background-size: 100%;
    border-radius: 50%;
    -moz-border-radius:50%;
    -webkit-border-radius: 50%;
    position: absolute;
    left: 0;
}

.header__navbar-item--separator::after {
    content: "";
    display: block;
    border: 1px solid #ef6956;
    position: absolute;
    height: 12px;
    top: 0;
    left: -10px;
}

.header__navbar-language:hover .header__navbar-item-language-list{
    display: block;
    z-index: 1;
}

.header__navbar-item-language-list {
    position: absolute;
    background-color: white;
    padding: 0;
    top: 30px;
    color: var(--black-color);
    display: none;
    border: 1px solid rgba(153, 153, 153, 0.208);
}

.header__navbar-item-language-list::after,
.header__navbar-item-user::after,
.header__notification::after,
.header__cartmessagger::after{
    content: '';
    border-width: 15px 15px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 15px;
    top: -25px;
}

.header__navbar-item-language-country {
    list-style: none;
    padding: 0px 20px;
    width: 120px;
    height: 40px;
    font-size: 1.4rem;
    line-height: 40px;
}

.header__navbar-item-language-country:hover,
.header__navbar-item-user-account-title:hover {
    color: var(--green-color);
    background-color: rgba(230, 227, 227, 0.5);
}

.header__navbar-item-user {
    position: absolute;
    background-color: white;
    width: 100%;
    border-radius: 2px;
    left: 0;
    display: none; 
    top: 30px;
    border: 1px solid rgba(153, 153, 153, 0.208);
    z-index: 1;
}


.header__navbar-item-user-account {
    list-style: none;
    color: var(--black-color);
    padding: 0;
}

.header__navbar-item-user-account-title {
    height: 40px;
    line-height: 40px;
    font-size: 1.4rem;
    padding-left: 20px;
}

.header__navbar-item-link--strong {
    font-size: 1.4rem;
    margin-left: 25px;
}

.header__navbar-item-link--strong:hover .header__navbar-item-user{
    display: block
}

/* QR code */
.header__navbar-item-qr::before {
    content: "";
    display: block;
    width: 176px;
    height: 100%;
    position: absolute;
    top: 60%;
}

.header__navbar-item-qr:hover .header__navbar-item-qr-img{
    display: block;
}

.header__navbar-item-qr-img {
    width: 176px;
    background-color: white;
    position: absolute;
    top: 160%;
    left: 0;
    border-radius: 2px;
    display: none;
    border: 1px solid rgba(153, 153, 153, 0.208);
}

.header__navbar-item-qr-img--img {
    width: 100%;
    padding: 8px;
}
/* End QR Code */

.header__search{
    display: flex;
    align-items: center;
    margin-top: 12px;
}

.header__search-item{
    width: 200px;
}

.header__search-item-message {
    position: absolute;
    top: -10px;
    background-color: white;
    padding: 0 8px;
    border-radius: 10px;
    border: 2px solid;
    border-color: #ee4d2d;
    left:38px;
}

.header__search-search{
    flex: 1;
    height: 40px;
    display: flex;
    align-items: center;
    background-color: var(--white-color);
    border-radius: 2px;
    border: none;
}

.header__search-search-inp{
    width: 100%;
    height: 100%;
    font-size:1.4rem;
    font-weight: 400;
    color: var(--text-color);
    padding: 0 16px;
    border-radius: 2px;
    border: none;
    outline: none;
}

.header__search-item--logo {
    width: 162px;
    height: 50px;
}

.header__search-search-select{
    width: 130px;
    font-size: 1.4rem;
    padding-left: 12px;
    position: relative;
}

.header__search-search-btn{
    background-color: #e34926;
    border: none;
    height: 34px;
    width: 60px;
    border-radius: 2px;
    margin-right: 3px;
    outline: none;
    color: var(--white-color);
}

.header__search-search-btn:hover {
    cursor: pointer;
    background-color: #e34926af
}

.header__search-search-select:hover .header__search-search-select-type{
    display: block;
}

.header__search-search-select-type{
    display:none;
    position: absolute;
    list-style: none;
    padding: 0;
    background-color: var(--white-color);
    top: 5px;
    right: 0;
    border-left: 1px solid rgba(153, 153, 153, 0.208);
    border-right: 1px solid rgba(153, 153, 153, 0.208);
    border-bottom: 1px solid rgba(153, 153, 153, 0.208);
}

.header__search-search-select-type li{
    padding: 10px;
    width: 120px
}

.header__search-check{
    color: #e34926;
    margin-left: 10px;
}

.header__search-item-cart {
    font-size: 30px;
    color: var(--white-color);
    text-decoration: none;
    width: 150px;
    text-align: center;
    margin-left: 30%;
}

.header__search-search-select--icon {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.6rem;
    margin-right: 4px;
}

.header__search-cart {
    cursor: pointer;
    position: relative;
    width: 60px;
    margin-left: 50px;
}

.header__search-cart:hover .header__cartmessagger {
    display: block;
}

.header__cartmessagger {
    position: absolute;
    right: 0;
    width: 400px;
    z-index: 1;
    background-color: var(--white-color);
    border: 1px solid rgba(153, 153, 153, 0.208);
    top: 40px;
    display: none;
    border-radius: 2px;
}

.header__cartmessagger-list {
    padding-left: 0;
    list-style: none;
}

.header__cartmessagger-list-item {
    display: flex;
    align-items: center;
}

.header__cartmessagger-list-item:hover {
    background-color:#e8e8e86f;
}

.header__cartmessagger-list-img {
    width: 42px;
    height: 42px;
    margin: 12px;
    border: 1px solid #e8e8e8;
}

.header__cartmessa-list-information {
    width: 100%;
    margin-right: 12px;
}

.header__cartmessa-list-information-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__cartmessagger-heading h4 {
    text-align: left;
    margin: 15px 0 8px 12px;
    font-size: 1.4rem;
    color: #999;
    font-weight: 400;
}

.header__cartmessa-list-information-body {
    display: flex;
    justify-content: space-between;
}

.header__information-info-name {
    margin: 0;
    font-size: 1.4rem;
    font-weight: 400;
}

.header__information-info-color {
    margin: 0;
    font-size: 1.3rem;
    font-weight: 300;
}

.header__information-info-delete {
    font-size: 1.4rem;
}

.header__information-info-delete:hover {
    color:red;
    cursor: pointer;
}

.header__info-price {
    color: #EE4D2D; 
    font-weight: 400;
    font-size: 1.4rem;
}

.header__info-OL {
    font-size: 1.2rem;
    color: #757575;
}

.header__cartmessagger-footer {
    float: right;
    margin: 0 12px 12px 0;
    font-size: 1.5rem;
    padding: 10px;
}

.header__cartmessagger-footer:hover {
    background-color: #ee5028;
    color: var(--text-color);
}

.header__cartmessagger-footer-showcart {
    text-decoration: none;
    color: var(--text-color);
}